// Spacing & Sizes
$t-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.6rem;

// Colors 
// Brand Colors
$brand-p: #004C8C;
$brand-s: #0277BD;
$brand-t: #58A5F0;
// White & Black
$white: #FAFAFA;
$black: #000A12;
$off-white: #EEE;
$off-black: #263238;
// Messages 
$error: #D6182A;
$success:#76B852; 
$warn: #FFA500;
$info: #0277BD;

