.form {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 30vw;
  align-items: center;
}

.form > fieldset {
  width: 30vw;
  margin: 0 0 $s-size 0;
  border: none;
}

// @media (max-width: 1024px) {
//   // CSS 
// }

@media screen and (min-width: 240px) and (max-width: 480px) {
  .form > fieldset {
    width: 80vw;
  } 
}

@media screen and (min-width: 481px) and (max-width: 720px) {
  .form > fieldset {
    width: 60vw;
  } 
}

// @media screen and (min-width: 721px) and (max-width: 1024px)  {
//   .form > fieldset {
//     width: 30vw;
//   } 
// }

// @media screen and (min-width: 480px) and (orientation: landscape) { 
//   // Css 
// }

// @media screen and (min-height: 600px) and (orientation: portrait) { 
//   // Css 
// }
